<%    
    @allowed_projects = []
    User.current.memberships.each {|m| @allowed_projects << m.project if m.roles.each {|role| role.allowed_to?(:view_issues)}}
    rows = @allowed_projects.collect {|p| p.members.collect { |m| m.user } }.flatten.uniq.sort
    data = ActiveRecord::Base.connection.select_all("select a.id as assigned_to_id, count(i.id) as total 
                                                from #{Issue.table_name} i, #{IssueStatus.table_name} s, #{User.table_name} a
                                                where i.status_id=s.id and i.assigned_to_id=a.id and s.is_closed = false
                                                group by a.id").index_by { |x| x["assigned_to_id"].to_i }

    smallest = 6
    largest = 22
    totals = data.collect { |aid, d| d["total"].to_i }
    totals_min = totals.min
    totals_max = totals.max
    font_step = (largest - smallest).to_f / [totals_max - totals_min, 1].max.to_f
%>

<h3><%= l(:label_assigned_issues_cloud) %></h3>
<% if data.empty? or rows.empty? %>
    <p><i><%=l(:label_no_data)%></i></p>
<% else %>
    <div class="cloud">
        <% for row in rows %>
            <% if data[row.id] %>
                <%= link_to(
                        row.name,
                        { :controller => "issues", :action => 'index', :set_filter => 1, "assigned_to_id" => row.id },
                        { :style => "font-size: #{smallest + (data[row.id]["total"].to_i - totals_min) * font_step}pt;",
                          :title => l(:label_x_open_issues_abbr, :count => data[row.id]["total"])
                        }
                    ) %>
            <% end %>
        <% end %>
    </div>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'my_widgets', :plugin => 'redmine_my_widgets' %>
<% end %> 
